body{
    margin: 20px;
    padding-left: 30px;
    font-family: "SansSerif";
}

.datePickerIcon{
    margin-top: 24px;
    margin-left: -30px;
}

.timePickerPos{
    margin-top: -10px;
    margin-left: -30px;
}

.currentDateTime{
    font-family: monospace;
    font-weight: bold;
    padding-left: 20px;
    font-size: 20px;
}

.disableButton{
 margin-top: 0;
}

.disableSpan {
    opacity: .2;
    pointer-events: none;
}

.time span{
    text-align: center;
    padding: 6px 0;
    cursor: pointer;
}

.time span.selected {
    background:#eeeeee;
    border-radius: 4px;
}

.timeInput{
    margin-top: 31px;
    width: 100%;
    padding: 6px 12px;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: -6px;
}