<div class="col-lg-6 timePickerPos">
    <div class="btn-group col-lg-6" uib-dropdown dropdown-append-to-body auto-close="false">
        <input type="text" uib-dropdown-toggle placeholder="Select time" readonly data-ng-model="selectedTimeModel"
               data-ng-disabled="(disableTimepicker && !dateSelected) || shouldDisableTimePicker">
        <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body"
             style="width: 30%">
            <div style="text-align: center;font-size: 23px;">
                {{datePickerValue | date:'longDate'}}
                rez{{datePickerValue.getDay()}}
                <hr>
            </div>
            <div>
                <ul class="nav nav-tabs" style="text-align: center">
                    <li data-ng-repeat="per in timePeriods" data-ng-click="changePeriod($event,per)"
                        style="float: none; display: inline-block;"
                        data-ng-class="{active: $index+1==selectedPeriod.id}"><a href="">{{per.value}}</a></li>
                </ul>
            </div>
            <div class="time">
                <span class="col-lg-3" data-ng-repeat="time in timeValues" data-ng-click="selectTime(time)"
                      data-ng-class="{selected: selectedTimeModel==createTime(time,selectedPeriod),disableSpan:disableTime(datePickerValue,time,selectedPeriod)}"> {{time}} {{selectedPeriod.value}} </span>
            </div>
        </div>
    </div>
</div>
